.navbar {
  background: transparent;
  display: table;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-spacing: 2px;
}

.navbar a:hover {
  opacity: .6;
  transition: all .7s ease;
}
.navbar ul {
  list-style-type: none;
  margin-top: 16px;
}

.navbar li {
  display: inline;
  padding: 20px;
}

