// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
}
.cocktailcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  margin: 30px 80px;
}

.cocktail {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: .8;
}

.cocktail:hover {
  opacity: .6;
  transition: all .7s ease;
}

.cocktail a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 30px;
  font-spacing: 2px;
  height: 40vh;
}

.my-button-container {
  display: flex;
  justify-content: center;
  margin-top: 270px;
}

.mynewcontainer {
  display: grid;
  grid-template-columns: 2.5fr;
  grid-gap: 16px;
  width: 70%;
  padding-top: 40px;
  margin: auto;
}

.formcontainer {
 width: 50%;
}

.pagecontainer {
  display: flex;
}

.ingredients {
  text-align: center;
  padding: 15px;
  flex-grow: 1;
  margin-top: 0;
}

.details {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px 80px;


}

.description {
  font-weight: lighter;
  font-size: 13px;
  padding-top: 2px

  font-style: italic;
}



.details p {
  margin: 8px;
  margin-top: 12px;

}

.details a {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  font-size: 15px;

}
.details a:hover {
  opacity: .6;
}

.ingredients h2 {
  font-weight: lighter;
  letter-spacing: 1.9px;
  font-size: 18px;
  margin-bottom: 12px;
  }


